/* iPad Pro */
/* Portrait */
@media only screen and (min-width: 2048px) and (max-height: 2732px) {
  .w-100 {
    height: 50vh;
  }
  .video_posicion {
    height: 50vh;
  }
  .btn-juegaya {
    top: 19vh;
  }
  .titulo_reserva_kullin {
    width: 510px;
    padding-left: 110px;
  }
  .container_header {
    padding-right: 45px;
  }
  nav a {
    font-size: 36px;
    margin: 0 15px;
  }
  .texto_descarga {
    width: 100%;
  }
  .titulo_escanearanimal_ipadpro {
    width: 100%!important;
  }
  .icono_descarga {
    font-size: 9rem;
  }
  .enumeracion_pasos {
    font-size: 7rem;
  }
  .enumeracion_pasos_alineacion2 {
    padding-top: 12%;
  }
  .single-project {
    height: 18vh!important;
  }
  .icono_tienda {
    top: 8%;
    font-size: 19rem;
  }



    .banner-area {
      height: 1045px!important;
    }
    body {
      font-size: 60px;
      background-image: url(../img/fondo_2.png);
    }

    }
    .default-header {
      padding: 60px 0;
    }
    .container {
      max-width: 2200px;
    }
    .relative {
      top: 90px;
    }
    .banner-area {
      height: 1340px;
    }
    .head-btn {
      top: -675px!important;
    }
    .img-juegaya {
      width: 540px;
    }
    .antu_y_rayen_ayudalos {
      font-size: 4.3rem;
    }
    .callto-wrap {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .titulo_escanearanimal_ipadpro {
      width: 640px;
      margin-bottom: 95px;
      margin-top: 156px;
    }
    .menu-bar span {
      font-size: 85px;
    }

    .img-instrucciones_juego {
      height: 400px;
    }
    .instrucciones_juego {
      font-size: 50px!important;
      line-height: 67px!important;
    }
    .img-laminas {
      width: 1250px;
    }

    .section_descargar_app {
      width: 340px;
    }
    .instrucciones_coleccion_laminas {
      font-size: 50px;
      line-height: 70px;
    }
    .img-descarga {
      width: 400px;
    }
    .section-gap {
      padding: 120px;
    }
    .instrucciones_juego_descargar {
      font-size: 50px!important;
    }
  }
/* Landscape */
@media only screen and (min-width: 2732px) and (max-height: 2048px) {
    body {
      font-size: 60px;
    }
    .titulo_reserva_kullin {
      width: 600px;
    }
    .default-header {
      padding: 60px 0;
    }
    .container {
      max-width: 2200px;
    }
    .relative {
      top: 90px;
    }
    .banner-area {
      height: 1340px;
    }
    .head-btn {
      top: -320px!important;
    }
    .img-juegaya {
      width: 540px;
    }
    .antu_y_rayen_ayudalos {
      font-size: 5.7rem;
    }
    .callto-wrap {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .titulo_escanearanimal_ipadpro {
      width: 640px;
      margin-bottom: 137px;
    }
    .menu-bar span {
      font-size: 85px;
    }
    nav a {
      font-size: 36px;
      margin: 0 30px;
    }
    .img-instrucciones_juego {
      height: 400px;
    }
    .instrucciones_juego {
      font-size: 50px!important;
      line-height: 67px!important;
    }
    .img-laminas {
      width: 1250px;
    }
    .textos_coleccionar_laminas,
    .texto_premios,
    .texto_descarga {
      width: 640px;
    }
    .section_descargar_app {
      width: 340px;
    }
    .instrucciones_coleccion_laminas {
      font-size: 50px;
      line-height: 70px;
    }
    .img-descarga {
      width: 400px;
    }
  }
